body {
   font-size: 18px;
   font-family: consolas;
}

.game-section {
    position: relative;
}

.game-area {
    position: absolute;
    background-color:lightskyblue;
    width:100%;
    height: 93vh;
    
}

.game-start {
position: absolute;
width: 50%;
background-color: greenyellow;
top: 100px;
left: 25%;
z-index: 1;
text-align: center;
padding: 30px;

}

.hide {
    display: none;
}

.game-score {
    
    background-color: black;
    color: white;
    text-align: center;
}

.wizard {
    position: absolute;
    width: 150px;
    height: 200px;
    background-image: url(./images/fire_wizard__wizard101_redesign__by_siturba_dfrqpw6-pre.jpg);
    background-size: cover;
}